.formContainer {
  display: flex;
  justify-content: center;
}

.formContainer div {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.input {
  background-color: #e0f2fe;
  color: #0369a1;
  border: 1px solid #0369a1;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0 8px 8px 0;
  width: 25rem;
  font-size: 1.5rem;
}

.input::placeholder {
  color: #0369a1;
  opacity: 0.6;
}

.btn {
  background-color: #0369a1;
  color: #e0f2fe;
  outline: none;
  border: 1px solid #0369a1;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
}
@media screen and (min-width: 1024px) {
  .input {
    width: 30rem;
  }
}
