.todos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.empty {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 40%;
  border-radius: 8px;
  background-color: #bae6fd;
  color: #0c4a6e;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .empty {
    width: 100%;
  }
}
