.todo {
  margin-bottom: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 60%;
  border-radius: 8px;
  background-color: #bae6fd;
  color: #0c4a6e;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 1.4rem;
}
.todoTitle {
  cursor: pointer;
  user-select: none;
  margin-bottom: 1rem;
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.actions {
  margin-right: auto;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.edit {
  color: #047857;
}

.delete {
  color: #dc2626;
}

@media screen and (max-width: 425px) {
  .todo {
    width: 100%;
  }
}
